<!-- Invoice Template Header -->
<table style="width: 100%; border-collapse:collapse;">
    <tbody>
        <tr style="height: 35px;">
            <td style="border-bottom: 2px solid #000;">&nbsp;</td>
            <td style="border-bottom: 2px solid #000;">&nbsp;</td>
            <td style="padding: 11px 0; background: #000; color: #fff; width: 40%; font-size:12px;" colspan="2" rowspan="2" align="center" valign="center">
                <h3 style="margin-top: 0;text-transform: uppercase; font-size:20px;margin-bottom:4px; font-weight:normal;">DEWAN international</h3> Steel &amp; Pipes</td>
            <td style="border-bottom: 2px solid #000;">&nbsp;</td>
            <td style="border-bottom: 2px solid #000;">&nbsp;</td>
        </tr>
        <tr style="height: 35px;">
            <td style="border-top: 2px solid #000;">&nbsp;</td>
            <td style="border-top: 2px solid #000;">&nbsp;</td>
            <td style="border-top: 2px solid #000;">&nbsp;</td>
            <td style="border-top: 2px solid #000;">&nbsp;</td>
        </tr>
    </tbody>
</table>
<!-- Template Generic Header -->
<br>
<table style="width: 100%;font-size:12px;" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="15%">&nbsp;</td>
            <td style="height: 30px; text-align: center; vertical-align: middle;"><mat-icon style="font-size:18px;">call</mat-icon></td>
            <td style="height: 30px; text-align: center; vertical-align: middle;"><mat-icon style="font-size:18px;">language</mat-icon></td>
            <td style="height: 30px; text-align: center; vertical-align: middle;"><mat-icon style="font-size:18px;">email</mat-icon></td>
            <td style="height: 30px; text-align: center; vertical-align: middle;"><mat-icon style="font-size:18px;">location_on</mat-icon></td>
            <td width="15%">&nbsp;</td>
        </tr>
        <tr>
            <td width="15%" style="text-align: center; vertical-align: bottom;width:5%;">&nbsp;</td>
            <td style="text-align: center; vertical-align: bottom;">000 111 222</td>
            <td style="text-align: center; vertical-align: bottom;">www.dewansteel.com</td>
            <td style="text-align: center; vertical-align: bottom;">info@dewansteel.com</td>
            <td style="text-align: center; vertical-align: bottom;">Androon Shahr Station bazar</td>
            <td width="15%" style="text-align: center; vertical-align: bottom;width:5%;">&nbsp;</td>
        </tr>
    </tbody>
</table>
<!-- Invoice Template Header End-->
<!-- Company Information -->
<br/>
<br/>
<table style="width: 100%; margin-left: auto; margin-right: auto;" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="width: 35%; height: 50px; background: #000; color: #fff;" colspan="2" rowspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOTAL AMOUNT: {{selectedReceipt?.receiptamount | number}}</td>
            <td style="border-bottom: 2px solid #000000; text-align: right; vertical-align: middle;" colspan="4">
                <h4 style="margin:0;padding:0;font-weight:normal;">RECEIPT #{{selectedReceipt?.receiptnumebr}}&nbsp;&nbsp;</h4></td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="4">&nbsp;</td>
        </tr>
    </tbody>
</table>
<br>
<!-- Bill # & Challan # -->
<table style="font-size:12px; line-height:10px; width: 100%;margin-left: auto; margin-right: auto;" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="50%" style="padding-left:30px;" *ngIf="selectedReceipt?.voucherno">
                <h5 style="font-size:13px; margin-bottom:0;">Voucher #:</h5>
                <p style="margin:10px 0;">{{selectedReceipt?.voucherno | capFilter}}</p>
            </td>
<!--             <td width="50%" align="right" valign="top" style="padding-right:20px;" *ngIf="selectedPurchase?.challanno">
                <h5 style="font-size:13px; margin-bottom:0;">Voucher #:</h5>
                <p style="margin:10px 0;">{{selectedPurchase?.challanno}}</p>
            </td> -->
        </tr>
    </tbody>
</table>
<!-- Customer Information -->
<table style="font-size:12px; line-height:10px; width: 100%;margin-left: auto; margin-right: auto;" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="50%" style="padding-left:30px;">
                <h5 style="font-size:13px; margin-bottom:0;">Receipt From:</h5>
                <p style="margin:10px 0;">{{selectedReceipt?.receiptcustomer.name | capFilter}}</p>
                <p style="margin:10px 0;" *ngIf="selectedReceipt?.receiptcustomer.address">{{selectedReceipt?.receiptcustomer.address}}</p>
                <p style="margin:10px 0;" *ngIf="selectedReceipt?.receiptcustomer.phone">{{selectedReceipt?.receiptcustomer.phone}}</p>
                <p style="margin:10px 0;" *ngIf="selectedReceipt?.receiptcustomer.email">{{selectedReceipt?.receiptcustomer.email}}</p>
            </td>
            <td width="50%" align="right" valign="top" style="padding-right:20px;">
                <h5 style="font-size:13px; margin-bottom:0;">Invoice Issue Date:</h5>
                <p style="margin:10px 0;">{{selectedReceipt?._id | date:"short"}}</p>
            </td>
        </tr>
    </tbody>
</table>
<!-- Invoice Total Header-->
<br>
<!-- Invoice Main Header Tabke TH -->
<table style="border-color: #333333; font-size:13px; width: 100%; margin-left: auto; margin-right: auto;" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th style="height: 30px; text-align: center;">Type</th>
            <th style="height: 30px; text-align: center;">Account</th>
            <th style="height: 30px; text-align: center;">Invoice Ref. #</th>
            <th style="height: 30px; text-align: center;">Account Ref.</th>
            <th style="height: 30px; text-align: center;">Account Ref. Type</th>
            <!-- <th style="height: 30px; text-align: center;">Weight</th> -->
            <!-- <th style="height: 30px; text-align: center;">Calc. Weight</th> -->
            <!-- <th style="height: 30px; text-align: center;">Price</th> -->
            <!-- <th style="height: 30px; text-align: center;" width="100px">Total</th> -->
        </tr>
        <!-- Loop Items on each row-->
        <!-- Loop Items End for each row -->
        <tr>
          <td style="height: 40px; border: 1px solid #777; border-bottom:0;text-align: center;">{{selectedReceipt?.receiptaccount.accounttype | capFilter}}</td>
          <td style="height: 40px; border: 1px solid #777; border-left:0; border-bottom:0;text-align: center;">{{selectedReceipt?.receiptaccount.name | capFilter}}</td>
          <td *ngIf="selectedReceipt?.invoiceref === null" style="height: 40px; border: 1px solid #777; border-left:0;border-bottom:0;text-align: center;">&nbsp;</td>
          <td *ngIf="selectedReceipt?.invoiceref !== null" style="height: 40px; border: 1px solid #777; border-left:0;border-bottom:0;text-align: center;">{{selectedReceipt?.invoiceref.invoicenumber}}</td>
          <td *ngIf="selectedReceipt?.accountref === null" style="height: 40px; border: 1px solid #777; border-left:0; border-bottom:0;text-align: center;">&nbsp;</td>
          <td *ngIf="selectedReceipt?.accountref === null" style="height: 40px; border: 1px solid #777; border-left:0; border-bottom:0;text-align: center;">&nbsp;</td>
          <td *ngIf="selectedReceipt?.accountref !== null" style="height: 40px; border: 1px solid #777; border-left:0; border-bottom:0;text-align: center;">{{selectedReceipt?.accountref.name}}</td>
          <td *ngIf="selectedReceipt?.accountref !== null" style="height: 40px; border: 1px solid #777; border-left:0; border-bottom:0;text-align: center;">{{selectedReceipt?.accountref.accounttype | capFilter}}</td>

          <!-- <td style="height: 40px; border: 1px solid #777; border-left:0; border-bottom:0;text-align: center;" *ngIf="product.type !== 'Weighted'">N/A</td>
          <td style="height: 40px; border: 1px solid #777; border-left:0; border-bottom:0;text-align: center;" *ngIf="product.type === 'Weighted'">{{product.calcweight | number}}</td>
          <td style="height: 40px; border: 1px solid #777; border-left:0; border-bottom:0;text-align: center;" *ngIf="product.type !== 'Weighted'">N/A</td>
          <td style="height: 40px; border: 1px solid #777; border-left:0; border-bottom:0;text-align: center;">{{product.cartprice | number}}</td>
          <td style="height: 40px; border: 1px solid #777; border-left:0; border-bottom:0;text-align: center;">{{product.cartworth | number}}</td> -->
        </tr>
        <tr>
            <td style="height: 40px; text-align: center; border-right:1px solid #777;border-top:1px solid #777;" colspan="3" rowspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<!--             <td style="height: 40px; border-right: 1px solid #777; text-align: center; border-top:1px solid #777;vertical-align: middle;">Total</td>
            <td style="height: 40px; border-right: 1px solid #777;border-top:1px solid #777; text-align: center; vertical-align: middle;">{{selectedReceipt?.receiptamount | number}}</td> -->
        </tr>
<!--         <tr>
            <td style="height: 40px; border: 1px solid #777; border-left:0;text-align: center; vertical-align: middle;">Other Charges</td>
            <td style="height: 40px; border: 1px solid #777;border-left:0; text-align: center; vertical-align: middle;">XXXX</td>
        </tr> -->
        <tr>
            <td style="height: 40px; background:#000; color:#fff;  text-align: center; vertical-align: middle;">Grand Total</td>
            <td style="height: 40px; background:#000; color:#fff; text-align: center; vertical-align: middle;">{{selectedReceipt?.receiptamount | number}}</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<!-- Invoice Template Footer -->
<table style="border-color: #777; font-size:13px; width: 100%; margin-left: auto; margin-right: auto;" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="50%" style="padding-left:20px;">
                <h5 style="font-size: 13px;margin-bottom: 0;">Terms &amp; Payment Policy:</h5>
                <p style="padding-right:15%;">Dewan Steel is not responsible for any kind of item return without computer generated invoice. Please check your invoice before you leave this place</p>
            </td>
            <td width="50%" align="right" valign="middle;" style="padding-right:20px;">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <h4 style="font-size:13px;">Authorized By</h4>
            </td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2" align="center" valign="middle">
                <p>&nbsp;</p>
                <p style="margin-bottom:0; text-decoration:underline;">Software Developed and designed By Eyetea Corporation [eyetea.co] [03228065608] [info@eyetea.co]</p>
            </td>
        </tr>
    </tbody>
</table>