<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title logo-heading">Dewan International</span>
  <button mat-icon-button matTooltip="Logout!" color="warn" (click)="logout()" ><mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container mat-body-1">
  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <div class="sidenav-content">
      <span class="logo"><img src="assets/images/eyesteel.png" width="60px" /></span>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/deodashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>

      </mat-nav-list>    
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>shop</mat-icon> Products
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchase"> 
          <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/inwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Inward Pass
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/outwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Outward Pass
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereceipt"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Receipts
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasepayment"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Payments
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoice Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> purchase Return
        </a>
      </mat-nav-list>

    </div>
  </mat-sidenav>

  <mat-grid-list cols="12">
    <div class="example-scrolling-content">

<!--       <mat-grid-list cols="6" rowHeight="100px">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color">
          {{tile.text}}
        </mat-grid-tile>
      </mat-grid-list> -->
      <mat-grid-list cols="6" rowHeight="50px">
        <mat-grid-tile colspan="3" rowspan="4">
            <mat-list>
              <mat-list-item class="mat-body-1">
                <mat-icon mat-list-icon>shopping_basket</mat-icon>
                <p mat-line>Products</p>
                <small mat-line>Stock: {{1200 | number}}</small>
                <small mat-line>Weight: {{1200 | number}}</small>
                <small mat-line>Worth: {{1200 | number}}</small>
              </mat-list-item>
            </mat-list>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="4">
            <mat-list>
              <mat-list-item class="mat-body-1">
                <mat-icon mat-list-icon>supervisor_account</mat-icon>
                <p mat-line>Customers</p>
                <small mat-line>Total: {{1200 | number}}</small>
                <small mat-line>Debit: {{1200 | number}}</small>
                <small mat-line>Credit: {{1200 | number}}</small>
              </mat-list-item>
            </mat-list>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="4">
            <mat-list>
              <mat-list-item class="mat-body-1">
                <mat-icon mat-list-icon>receipt</mat-icon>
                <p mat-line>Invoices</p>
                <small mat-line>Total: {{1200 | number}}</small>
                <small mat-line>Revenue: {{1200 | number}}</small>
              </mat-list-item>
            </mat-list>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="4">
            <mat-list>
              <mat-list-item class="mat-body-1">
                <mat-icon mat-list-icon>receipt</mat-icon>
                <p mat-line>Purchases</p>
                <small mat-line>Total: {{1200 | number}}</small>
                <small mat-line>Revenue: {{1200 | number}}</small>
              </mat-list-item>
            </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-grid-list>
</mat-sidenav-container>