<mat-card>
  <h2 class="mat-title">{{selectedCustomer?.name | uppercase}}
    <a routerLink="/customers" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right"> 
    <!-- (click)="addInvoice()"> -->
      <mat-icon>arrow_back</mat-icon>
    </a>
  </h2>
  <h2 class="mat-caption mat-body-1">details of all debit/credit(s)</h2>
  <hr>
  <div class="mat-body-1">
    <span class="mat-title" style="font-size: 15px !important;">{{"start date:" | uppercase}}&nbsp;</span>
    <span>{{selectedCustomer?._id | date:'fullDate' | uppercase}}</span>
  </div>
  <div class="mat-body-1">
    <span class="mat-title" style="font-size: 15px !important;">{{"Opening Balance:" | uppercase}}&nbsp;</span>
    <span>{{selectedCustomer?.openingbalance | number}}</span>
  </div>

  <div class="mat-body-1">
    <span class="mat-title" style="font-size: 15px !important;">{{"Closing balance:" | uppercase}}&nbsp;</span>
    <span>{{selectedCustomer?.closingbalance | number}}&nbsp;&nbsp;{{selectedCustomer?.status}}</span>
  </div>
  <hr>
  <table class="mat-body-1 table-no-border table table-stripped table-hover">
    <thead>
      <tr>
        <!-- <th>#</th> -->
        <!-- <th>Customer/Vendor</th> -->
        <th>Date/Time</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Closing Balance</th>
        <th>Status</th>
        <th>Ref. Type</th>
        <th>Ref. Acc.</th>
        <th>Ref. #</th>
        <th>Voucher #</th>
        <th>Bill #</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allDebitCredits;">
        <!-- <td>{{i+1}}</td> -->
        <td>{{item._id | date:'short'}}</td>
        <!-- <td>{{item.name}}</td> -->
        <td *ngIf="item.debit === null">&nbsp;</td>
        <td *ngIf="item.debit !== null">{{item.debit | number:'1.1-2'}}</td>
        <td *ngIf="item.credit === null">&nbsp;</td>
        <td *ngIf="item.credit !== null">{{item.credit | number:'1.1-2'}}</td>
        <td>{{item.closingbalance | number:'1.1-2'}}</td>
        <td *ngIf="item.status === 'credit'">Credit</td>
        <td *ngIf="item.status === 'debit'">Debit</td>
        <td>{{item.dctype | capFilter}}</td>
        <td *ngIf="!item.dcrefname">&nbsp;</td>
        <td *ngIf="item.dcrefname">{{item.dcrefname | capFilter}}</td>        
        <td>{{item.dcref}}</td>
        <td *ngIf="!item.voucherno">&nbsp;</td>
        <td *ngIf="item.voucherno">{{item.voucherno}}</td>
        <td>{{item.billno}}</td>
      </tr>
    </tbody>
    <hr>
  </table>
</mat-card>