<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <!-- <button mat-icon-button *ngIf="sidenav.open()" (click)="sidenav.toggle()"><mat-icon>arrow_back</mat-icon></button> -->
  
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title logo-heading">Dewan International</span>
  <button mat-icon-button matTooltip="Logout!" color="warn" (click)="logout()" ><mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container mat-body-1">
  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <div class="sidenav-content">
      <span class="logo"><img src="assets/images/eyesteel.png" width="60px" /></span>
      <mat-nav-list>
        <a *ngIf="authUser._id === 'admin'" class="mat-button" mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
        <a *ngIf="authUser._id === 'deo'" class="mat-button" mat-list-item href="#/deodashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>    
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>shop</mat-icon> Products
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchase"> 
          <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/inwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Inward Pass
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/outwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Outward Pass
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereceipt"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Receipts
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasepayment"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Payments
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoice Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> purchase Return
        </a>
      </mat-nav-list>

    </div>
  </mat-sidenav>

  
  <div class="example-scrolling-content mat-body-1">
    <div class="row">
      <div class="col-md-3">
        <mat-card>
          <h2 class="mat-title">Filter</h2>
          <h2 class="mat-caption mat-body-1">filter purchases</h2>
          <hr>
          <form [formGroup]="dateFilterForm">
            <mat-form-field>
              <input formControlName="fromdate" [formControl]="dateFilterForm.controls['fromdate']" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="From date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="todate" [formControl]="dateFilterForm.controls['todate']" (dateInput)="addEvent('input2', $event)" (dateChange)="addEvent('change2', $event)" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker2" placeholder="To date">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-hint>yyyy-mm-dd</mat-hint>
            </mat-form-field>
            <button class="mt-20" mat-icon-button matTooltip="Clear!" (click)="clearFilters()"><mat-icon>undo</mat-icon></button>
          </form>
        </mat-card>
      </div>
      <div class="col-md-9">
        <mat-card>
          <h2 class="mat-title">Purchases
            <button mat-icon-button (click)="goToPrint()" color="warn"><mat-icon>print</mat-icon></button>  
            <a routerLink="/addpurchase" mat-mini-fab color="primary" matTooltip="Add new prchase!" class="pull-right"> 
              <mat-icon>add</mat-icon>
            </a>
          </h2>
          <h2 class="mat-caption mat-body-1">List of all purchases
            <div class="subheading-1 pull-right subtitles mb-5">{{"total" | uppercase}}:&nbsp;
              <span class="mat-body-1 grand-total">{{purchasesTotal | number}}</span>
            </div>
          </h2>
          <hr>
          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          <mat-table [dataSource]="dataSource" matSort class="mat-body-1">

            <!-- Name Column -->
            <ng-container matColumnDef="purchasenumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.purchasenumber}}</mat-cell>
            </ng-container>

            <!-- Voucher # Column -->
            <ng-container matColumnDef="challanno">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Voucher #</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.challanno}}</mat-cell>
            </ng-container>


            <!-- Customer Column -->
            <ng-container matColumnDef="createdby">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Creator</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.createdby}}</mat-cell>
            </ng-container>



            <!-- Opening Balance Column -->
            <ng-container matColumnDef="purchasecustomer">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Vendor</mat-header-cell>
              <mat-cell *matCellDef="let row" class="grand-total">{{row.purchasecustomer | capFilter}}</mat-cell>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="productcount">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Item</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                {{row.productcount | number}}
              </mat-cell>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="billno">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Bill #</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                {{row.billno}}
              </mat-cell>
            </ng-container>


            <!-- Closing balance Column -->
            <ng-container matColumnDef="purchasenotes">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Notes</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <span *ngIf="row.purchasenotes != null">{{row.purchasenotes | capFilter}}</span>
                <span *ngIf="row.purchasenotes == null">&nbsp;</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="purchasetotal">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <span>{{row.purchasetotal | number}}</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="createdat">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <span>{{row.createdat | date:'short'}}</span>
              </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row (click)="getSinglePurchase(row)" *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>

          <mat-paginator class="mat-body-1" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </mat-card>
      </div>
    </div>
  </div>

</mat-sidenav-container>