<mat-grid-list cols="12" rowHeight="100px">
  <mat-grid-tile colspan="12" rowspan="6">
    <mat-card class="login-card">
      <div class="logo">
        <img src="assets/images/eyesteel.png" width="120px" />
      </div>
      <!-- <div *ngIf="authUser === null">Invalid Credentials</div> -->
      <form (ngSubmit)="getCredentials(loginForm.value);" [formGroup]="loginForm">
        <div class="example-container">
          <mat-form-field>
            <!-- <mat-icon matPrefix mat-tooltip="username!">perm_identity</mat-icon> -->
            <input matInput type="email" formControlName="email" [formControl]="loginForm.controls['email']" placeholder="Enter Email">
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')"><strong>Email</strong> is Required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <!-- <mat-icon matPrefix mat-tooltip="username!">vpn_key</mat-icon> -->
            <input matInput type="password" formControlName="email" [formControl]="loginForm.controls['password']" placeholder="Enter Password">
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')"><strong>Password</strong> is Required</mat-error>
          </mat-form-field>
          <button [disabled]="!loginForm.valid" mat-raised-button color="primary">Login</button>
        </div>
      </form>
    </mat-card>  
  </mat-grid-tile>
</mat-grid-list>