<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <!-- <button mat-icon-button *ngIf="sidenav.open()" (click)="sidenav.toggle()"><mat-icon>arrow_back</mat-icon></button> -->
  
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title logo-heading">Dewan International</span>
  <button mat-icon-button matTooltip="Logout!" color="warn" (click)="logout()" ><mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container mat-body-1">
  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <div class="sidenav-content">
      <span class="logo"><img src="assets/images/eyesteel.png" width="60px" /></span>
      <mat-nav-list>
        <a *ngIf="authUser._id === 'admin'" class="mat-button" mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
        <a *ngIf="authUser._id === 'deo'" class="mat-button" mat-list-item href="#/deodashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>    
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>shop</mat-icon> Products
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchase"> 
          <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/inwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Inward Pass
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/outwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Outward Pass
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereceipt"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Receipts
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasepayment"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Payments
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoice Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> purchase Return
        </a>
      </mat-nav-list>

    </div>
  </mat-sidenav>
  <div class="example-scrolling-content mat-body-1" *ngIf="addReturnFlag">
    <div class="row">
      <div class="col-md-3">
        <div class="col-md-12">
          <mat-card>
            <h2 class="mat-title">  
              Select Purchase
            </h2>
            <h2 class="mat-caption mat-body-1">enter purchase number</h2>
            <hr>
<!--             <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Keyword" aria-label="State" [matAutocomplete]="auto2" [formControl]="addCustomerForm.controls['customerCtrl']">
              <mat-autocomplete #auto2="matAutocomplete">
                <mat-option (onSelectionChange)="selectCustomer(state)" *ngFor="let state of customerStates | async" [value]="state.name">
                  <span>{{ state.name }}</span> |
                  <small>{{state.address}}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field> -->
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Select Purchase" aria-label="State" [matAutocomplete]="auto4" [formControl]="invoiceForm.controls['invoiceCtrl']">
              <mat-autocomplete #auto4="matAutocomplete">
                <mat-option (onSelectionChange)="selectInvoice(state)" *ngFor="let state of invoiceStates | async" [value]="state.invoicenumber">
                  <span>{{ state.purchasenumber | number }}</span> |
                  <small>{{state.purchasetotal | number }}</small>
                </mat-option>
              </mat-autocomplete>
              <mat-hint *ngIf="selectedPurchase != null">Purcahse #: {{selectedPurchase?.purchasenumber}} | {{selectedPurchase?.purchasetotal | number}}</mat-hint>
            </mat-form-field>

          </mat-card>
        </div>
        <div class="col-md-12 mt-20">
          <mat-card>
            <h2 class="mat-title">
             Customer
            </h2>
            <h2 class="mat-caption mat-body-1">below are customer details</h2>
            <div class="grand-total" *ngIf="selectedCustomer"><span class="mat-title">Balance:</span> {{customerToUpdate[0]?.closingbalance | number}}</div>
            <hr>
            <div class="example-container customer-form" *ngIf="selectedCustomer">
              <mat-form-field>
                <input matInput disabled="true" placeholder="Enter Name" type="text" name="name" value="selectedCustomer.name" [(ngModel)]="selectedCustomer.name">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Enter Address" type="text" name="address" value="selectedCustomer.address" [(ngModel)]="selectedCustomer.address">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Enter Phone" type="text" name="phone" value="selectedCustomer.phone" [(ngModel)]="selectedCustomer.phone">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Enter E-mail" type="text" name="email" value="selectedCustomer.email" [(ngModel)]="selectedCustomer.email">
              </mat-form-field>
            </div>       
          </mat-card>
        </div>
      </div>
      <div class="col-md-9">
        <mat-card>
          <h2 class="mat-title">Purchase Return {{selectedPurchase?.purchasenumber}}           
            <a (click)="hdieAddReturnFlag()" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right">
              <mat-icon>arrow_back</mat-icon>
            </a>
          </h2>
          <h2 class="mat-caption mat-body-1">add a new invoice return</h2>
          <button mat-raised-button color="warn" (click)="addInvoice()" [disabled]="cartProducts.length == 0 || !selectedCustomer"><mat-icon>save</mat-icon> Save</button>  
          <h5 class="pull-right mat-body-1" *ngIf="cartProducts.length == 0">Cart Total:- <strong class="grand-total">{{0 | number}}</strong></h5>  
          <h5 class="pull-right mat-body-1" *ngIf="cartProducts.length != 0">Cart Total:- <strong class="grand-total">{{cartTotal | number}}</strong></h5>
          <hr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Keyword" aria-label="State" [matAutocomplete]="auto" [formControl]="addInvoiceForm.controls['stateCtrl']">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option (onSelectionChange)="selectCartProduct(state)" *ngFor="let state of filteredStates | async" [value]="state.name">
                <span>{{ state.name }}</span>
                <small class="stock-indicator">| Qty: </small>
                <small>{{state.cartquantity}}</small>
                <small class="stock-indicator">| Rs: </small>
                <small>{{state.cartprice}}</small>
                <small class="stock-indicator">| Brand:</small>
                <small class="default-color"> {{state.categoryname}}</small>
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>
          <table class="mat-body-1 table-no-border table-responsive table table-stripped table-hover" *ngIf="cartProducts.length != 0">
            <thead>
              <tr>
                <th>Qty</th>
                <th>Name</th>
                <th>Batch Number</th>
                <th>Weight</th>
                <th>Calc Weight</th>
                <th>Price</th>
                <th>Store</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of cartProducts; let i=index;">
                <td><input matInput type="number" [(ngModel)]="product.returnquantity" (change)="changeQuantity(product.returnquantity, product)" value="{{product.returnquantity}}" /></td>
                <td>{{product.name}}</td>
                <td>{{product.batchnumber}}</td>
                <td *ngIf="product.type === 'Weighted'"><input matInput type="number" [(ngModel)]="product.returnweight" (change)="changeWeight(product.returnweight, product)" value="{{product.returnweight}}" /></td>
                <td *ngIf="product.type !== 'Weighted'">N/A</td>
                <td *ngIf="product.type === 'Weighted'">{{product.returncalcweight}}</td>
                <td *ngIf="product.type !== 'Weighted'">N/A</td>
                <td><input matInput type="number" [(ngModel)]="product.returnprice" (change)="changePrice(product.returnprice, product)" value="{{product.returnprice}}" /></td>
                <td>
<!-- 
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Keyword" aria-label="State" [matAutocomplete]="auto3" [formControl]="addStoreForm.controls['storeCtrl']">
                    <mat-autocomplete #auto3="matAutocomplete">
                      <mat-option (onSelectionChange)="selectProductStore(product, state)" *ngFor="let state of storeStates | async" [value]="state.name">
                        <span>{{ state.name }}</span>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field> -->
<!--                   <mat-form-field>
                    <mat-select placeholder="Select Store" (change)="setProductStore($event, product)" ngDefaultControl>
                      <mat-option *ngFor="let item of product.stores" [value]="item._id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  {{product.cartstores.name}}
                </td>
                <td>{{product.returnworth | number}}</td>
                <td>        
                  <button mat-icon-button color="warn" matTooltip="Delete" (click)="deleteCartItem(i, cartProducts)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <mat-form-field class="example-full-width">
                    <textarea matInput [(ngModel)]="invoiceNotes" placeholder="Sales Return Notes"></textarea>
                  </mat-form-field>
                </td>
                <td colspan="4">
                  <div class="pull-right price">
                    Grand Total:- <strong class="grand-total">{{cartTotal | number}}</strong>
                  </div>
                </td>

              </tr>
            </tbody>
          </table>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="example-scrolling-content mat-body-1" *ngIf="!addReturnFlag">
    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <h2 class="mat-title">Purchase Returns           
            <a (click)="showAddReturnFlag()" mat-mini-fab color="primary" matTooltip="Add Receipt!" class="pull-right">
              <mat-icon>add</mat-icon>
            </a>
          </h2>
          <h2 class="mat-caption mat-body-1">list of all invoice return(s)</h2>
          <hr>
<!--           <table class="mat-body-1 table-no-border table table-stripped table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Date/Time</th>
                <th>Created By</th>
                <th>Customer</th>
                <th># of items</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pass of allPurchaseReturns" (click)="showPurchaseReturn(pass)">
                <td>{{pass.purchasereturnnumber}}</td>
                <td>{{pass._id | date:'short'}}</td>
                <td>{{pass.createdby.email}}</td>
                <td>{{pass.purchasereturncustomer.name}}</td>
                <td>{{pass.purchasereturnproducts.length}}</td>
                <td>{{pass.purchasereturntotal | number}}</td>
              </tr>
            </tbody>
          </table> -->
          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          <mat-table [dataSource]="dataSource" matSort class="mat-body-1">

            <!-- Name Column -->
            <ng-container matColumnDef="number">
              <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.number}}</mat-cell>
            </ng-container>

            <!-- Customer Column -->
            <ng-container matColumnDef="customer">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Vendor</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.customer}}</mat-cell>
            </ng-container>



            <!-- Opening Balance Column -->
            <ng-container matColumnDef="purchaseref">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Purchase Ref.</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.purchaseref}}</mat-cell>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="itemscount">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Items Count</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                {{row.itemscount}}
              </mat-cell>
            </ng-container>

            <!-- Closing balance Column -->
            <ng-container matColumnDef="total">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <span>{{row.total | number}}</span>
              </mat-cell>
            </ng-container>


            <!-- Closing balance Column -->
            <ng-container matColumnDef="datetime">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Date/Time</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <span>{{row.datetime | date:'short'}}</span>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row (click)="showPurchaseReturn(row)" *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>

          <mat-paginator class="mat-body-1" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> 
        </mat-card>
      </div>
    </div>
  </div>
</mat-sidenav-container>